#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Mic Note -Voice Recorder & Notepad
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=nhkoenoennbjnibepkjdheodiaojdgpk
Icon=chrome-nhkoenoennbjnibepkjdheodiaojdgpk-Default
StartupWMClass=crx_nhkoenoennbjnibepkjdheodiaojdgpk
