#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Caret-T
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=agiednhnlghobdgpgfdnbdaflnngmoij
Icon=chrome-agiednhnlghobdgpgfdnbdaflnngmoij-Default
StartupWMClass=crx_agiednhnlghobdgpgfdnbdaflnngmoij
