#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=JSTorrent Lite
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=abmohcnlldaiaodkpacnldcdnjjgldfh
Icon=chrome-abmohcnlldaiaodkpacnldcdnjjgldfh-Default
StartupWMClass=crx_abmohcnlldaiaodkpacnldcdnjjgldfh
