[Desktop Entry]
Name=Bulk Rename
Name[en_GB]=Bulk Rename

Comment[en_GB]=Rename Multiple Files

GenericName=Bulk Rename

Exec=/usr/lib/x86_64-linux-gnu/Thunar/ThunarBulkRename %F
Icon=Thunar
Terminal=false
StartupNotify=true
Type=Application
Categories=System;Utility;Core;GTK;Filesystem;

# vi:set encoding=UTF-8:
