<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE kpartgui>
<gui version="4" name="katetextfilter" library="libkatetextfilterplugin" translationDomain="katetextfilter">
 <MenuBar>
  <Menu name="tools">
   <text>&amp;Tools</text>
   <Action name="edit_filter"/>
  </Menu>
 </MenuBar>
 <ActionProperties scheme="Default"/>
</gui>
<!-- kate: space-indent on; indent-width 4; replace-tabs on; -->
