[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[4.1 KB Volume]
row=0
col=0

[433 MB Volume]
row=2
col=0

[74743dbc-f8b3-48d2-b0f4-068a514e8228]
row=3
col=1

[6107-4EB4]
row=0
col=1

[48 MB Volume]
row=4
col=0

[ROOT-A]
row=1
col=1

[93072991-719e-4b6f-afbe-5cb809efba46]
row=8
col=0

[Trash]
row=4
col=1

[/]
row=5
col=1

[/home/tom]
row=6
col=1

